nav.navbar
  .container
    .navbar-brand
      a.navbar-item(href="/")
        strong.is-size-4.has-text-weight-semibold PosterVote
      
      //- button.navbar-burger.burger
        span.has-background-link
        span.has-background-link
        span.has-background-link
    .navbar-menu
