doctype
html
  head
    title #{title} | Poster Vote
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,600")
    link(rel="stylesheet" href="dist/app.css")
  body
    block content
    block scripts
    script(src="dist/app.js")
