doctype
html
  head
    title #{title} | Poster Vote
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700")
    link(rel="stylesheet" href="/dist/app.css")
  body
    block content
    block scripts
    script(src="/dist/app.js")
