extends ../layouts/basic.pug

mixin option(index, letter)
  .field.has-addons
    .control
      button.button.is-static(tabindex="-1")= index + 1 + '.'
    .control.is-expanded
      input.input.poster-option(type="text", placeholder="e.g. Option " + letter, data-option=index)

block scripts
  script(src="/dist/scripts/newPoster.js")

block content
  section.hero.is-primary
    .hero-head
      include ../components/nav.pug
    .hero-body
      .container
        h1.title New Poster
        h1.subtitle Create a new poster on Poster Vote
  
  .toolbar
    .container
      .toolbar-body
        .toolbar-item
          nav.breadcrumb
            ul
              li: a(href="/") Home
              li: a(href="/posters") Posters
              li.is-active: a(href="/posters/add") Add Poster
  
  section.section#messages
    .container
      .message.is-danger
        .message-header Something went wrong
        .message-body
          ul
  
  section.section
    .container
      .columns
        .column
          .field
            label.label(for="nameInput") Name
            .control
              input#nameInput.input(type="text", placeholder="e.g. Lunch survey")
          .field
            label.label(for="questionInput") Question
            .control
              input#questionInput.input(type="text", placeholder="e.g. What did you have for lunch today?")
          .field
            label.label(for="colourInput") Colour
            .control
              input#colourInput.input(type="color", value=randomColour)
          .field
            label.label(for="ownerInput") Creator (optional)
            .control
              input#ownerInput.input(type="text", placeholder="e.g. Geoff Testington")
          .field
            label.label(for="contactInput") Contact (optional)
            .control
              input#contactInput.input(type="text", placeholder="e.g. geoff@newcastle.ac.uk")
        .column
          label.label Options
          +option(0, 'A')
          +option(1, 'B')
          +option(2, 'C')
          +option(3, 'D')
          +option(4, 'E')
          p.help These are the options people viewing your poster will have to pick from, you can leave some blank.
    
  section.section
    .container
      .buttons.is-centered
        a.button.is-text(href="/posters") Cancel
        button#submitPoster.button.is-success.is-medium Create
  
  section.section
    .container
      pre#dev
