extends ../layouts/basic.pug

block content
  section.hero.is-primary
    .hero-head
      include ../components/nav.pug
    .hero-body
      .container
        h1.title Your posters
        h2.subtitle The poster's you've created and printed
  
  .toolbar
    .container
      .toolbar-body
        .toolbar-item
          nav.breadcrumb
            ul
              li: a(href="/") Home
              li.is-active: a(href="/posters") Posters
        .toolbar-seperator
        .toolbar-item
          a.button.is-success(href="/posters/add") Create poster
        .toolbar-item
          button.button.is-danger Logout
  
  section.section
    .container
      .columns.is-multiline
        each poster in posters
          .column.is-one-third
            .poster-cell(style={'background-color': '#' + poster.colour})
              .poster-head
                span= poster.name
                span= ' #' + poster.code
              .poster-body "#{poster.question}"
              .poster-foot
                .buttons.is-centered
                  a.button.is-link(href="/posters/" + poster.id) View Poster →
